<div id="main">
    <div>
        <h1>Moises Cortes</h1>
        <p>Coputer Science Engineering student from back at Mexico</p>
        <p>All contact information <a href="./contact">Here</a></p>
    </div>
</div>