<div id="main">
    <div class="about">
        <h1 class="aboutTitle">Moises Cortes</h1>
        <div class="about-block">
            <p>Coputer Science Engineering student from Mexico, who likes videogames (Monster Hunter, Dark Souls, Balatro, Halo died in REACH), bakery, TTGL (peak btw) and any other thing CS students like idk ¯\_(ツ)_/¯</p>
            <img class="about-logo" src="/images/kindpng_4160235.png" alt="Gurren Lagann Logo, HD Png Download@kindpng.com">
        </div>
        <div class="about-block">
            <ul>
                <p>Spanish/English and starting on Swedish, know C++, JS, a little of python and Java</p>
                <p>All contact information <a href="/contact">Here</a></p>
            </ul>
            <div class="imagenes">
                <img class="about-logo" src="/images/cpp-logo.png" alt="C++ logo">
                <img class="about-logo" src="/images/python-logo-vector.svg" alt="Python logo">
                <img class="about-logo" src="/images/javascript-logo-vector.svg" alt="JS logo">
                <img class="about-logo" src="/images/java-logo-vector-1.svg" alt="Java logo">
            </div>
        </div>
        <div class="about-block">
            <h2>REMEMBER, being KIND is the new PunkRock </h2>
        </div>
        <div class="about-block">
            <ul>
                <p>FUN FACT:</p>
                <p>I can move my ears on command!</p>
            </ul>
        </div>
    </div>
</div>