<div class="recipe-container">
    <h1 class="pageTitle">Contact Information</h1>
    
    <section class="recipe-card">
        <h2>My Github Page</h2>
        <div>
            <img class="contact-logo" src="/images/github-logo-vector.svg" alt="github logo">
            <a class="contact-link" href="https://github.com/m0y-Cortes/">GitHub</a>
        </div>
        <p class="recipe-instructions">I lost my old account (ยก~ยก)</p>

        <h2>Email</h2>
        <p class="recipe-instructions">moiseskhana@gmail.com</p>

        <h2>Phone</h2>
        <p class="recipe-instructions">+46 767476901</p>

    </section>
</div>