<div id="main">
    <h1 class="pageTitle"></h1>
    <div>
        <form action="/list/new" method="POST" >
            <fieldset>
                <legend>RECIPE</legend>
                <label for="title">Title</label>
                <input type="text" name="title" id="title">
                <br />
                <label for="desc">Description</label>
                <textarea name="desc" id="desc" rows="4", cols="40"></textarea>
                <br />
                <label for=""></label>
                <input type="text" name="" id="">
                <br />                
            </fieldset>
        </form>
    </div>
</div>