<div id="main">
  <h1 class="pageTitle">Log In</h1>
  {{#if error}}
    <p class="errorMessage">{{error}}</p>
  {{/if}}

  <form class="form-card" action="/login" method="post">
    <fieldset>
      <div class="form-grid">

        <div class="form-row">
          <label for="username">Username</label>
          <input type="text" name="username" id="username" placeholder="Your username">
        </div>

        <div class="form-row">
          <label for="password">Username</label>
          <input type="password" name="password" id="password" placeholder="Your password">
        </div>

        <div class="form-actions">
          <button type="submit" class="btn-primary">Enter</button>
        </div>

      </div>
    </fieldset>
  </form>
</div>