<div id="loginForm">
  <h1 class="pageTitle">Log In</h1>
  {{#if error}}
    <p class="errorMessage">{{error}}</p>
  {{/if}}
  
  <form method="POST" action="/login">
    <fieldset>
        <div>
          <label>
            Username:
            <input type="text" name="username" />
          </label>
        </div>
        <br/><br/>
        <div>
        
          <label>
            Password:
            <input type="password" name="password" />
          </label>
        </div>
        <br/><br/>
      <div>
        <button type="submit">Enter</button>
      </div>
    </fieldset>
  </form>
</div>
