
<div id="loginForm">
  <h1>Login</h1>
  {{#if error}}
    <p style="color: red;">{{error}}</p>
  {{/if}}
  
  <form method="POST" action="/login">
    <fieldset>
        <div>
          <label>
            Nombre:
            <input type="text" name="username" />
          </label>
        </div>
        <br/><br/>
        <div>
        
          <label>
            Contraseña:
            <input type="password" name="password" />
          </label>
        </div>
        <br/><br/>
      <div>
        <button type="submit">Ingresar</button>
      </div>
    </fieldset>
  </form>
</div>
